<ons-toolbar>
					
    <!--foto de perfil do usuário-->
   <div class="center">
         <span class="toolbar-button toolbar-button--material" style="width: 50px; height: 50px;">
           <img src="https://i.pinimg.com/236x/31/58/1f/31581f7c33eae99124f9aeba8c9aa2fc.jpg" alt="" style="width: 90%; height: 90%; border-radius: 100%;">
         </span>
       </div>
         
       <div class="right">
         <span class="toolbar-button toolbar-button--material">
               <i class="zmdi zmdi-plus"></i>
           </span>
       </div>
</ons-toolbar>

<!--Mensagens do chat de outro usuário-->
<div class="left">
<ons-card style="padding: 2%; margin-right: 60%; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
<div class="center">
Mario:
</div>
<div class="content">
   <div class="list-item__subtitle list-item--material__subtitle">Thor e thor rsrsrs</div>
</div>
</ons-card>
</div>
<!--Mensagens do chat suas-->
<div class="right">
<ons-card style="padding: 2%; margin-left: 50%; border-top-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
<div class="center">
Você:
</div>
<div class="content">
   <div class="list-item__subtitle list-item--material__subtitle">vc nao fala nada com nada</div>
</div>
</ons-card>	
</div>		
           
<!--Campo de mensagem-->			
<ons-bottom-toolbar>
<textarea style="width: 100%;" class="textarea" rows="3" placeholder="Digite aqui:"></textarea>
</ons-bottom-toolbar>
<br>
<br>