<ons-tabbar>
  <div class="tabbar__content"></div>
  <div class="tabbar">

    <!--  <ons-tab label="" icon="md-home" active-icon="md-home" [page]="tab1" active></ons-tab>
      <ons-tab label="" icon="md-compass" active-icon="md-compass" [page]="tab4"></ons-tab>
      <ons-tab label="" icon="md-comments" badge="2" active-icon="md-comments" [page]="tab2"></ons-tab>
      <ons-tab label="" icon="md-face"  active-icon="md-face" [page]="tab3"></ons-tab> -->

    <ons-tab [page]="tab1" label="" icon="none" active-icon="none"
      style="background-image: url('assets/svg/home.svg'); background-repeat:no-repeat; background-position:center; background-size: 20px;"
      active>
    </ons-tab>
    <ons-tab [page]="tab4" label="" icon="none" active-icon="none"
      style="background-image: url('assets/svg/explore.svg'); background-repeat:no-repeat; background-position:center; background-size: 23px;">
    </ons-tab>
    <ons-tab [page]="tab2" label="" icon="none" badge="4" active-icon="none"
      style="background-image: url('assets/svg/message.svg'); background-repeat:no-repeat; background-position:center; background-size: 20px;">
    </ons-tab>
    <ons-tab [page]="tab3" label="" icon="none" active-icon="none"
      style="background-image: url('assets/svg/profile.svg'); background-repeat:no-repeat; background-position:center; background-size: 20px;">
    </ons-tab>
  </div>
</ons-tabbar>