<ons-toolbar>
    <div class="center" style="text-align: center;">Chats</div>
</ons-toolbar>

<!-- Se Deslogado -->

<div style="width: 100%; text-align: center;" text-center *ngIf="!dataService.isLoggedIn()"> 
<span class="mdl-chip" style="margin: 3%; align-content: center;">
    <span (click)="loginpage.signInWithFB()" class="mdl-chip__text" >Favor Logar para usar o chat.</span>
  </span>
</div>

<!-- Se Logado -->
<div *ngIf="dataService.isLoggedIn()">

<br>
<!--Carregando (Material Design CSS)-->
<div style="width: 100%; text-align: center;">
<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
<br>
<br>
</div>

<!--Mensagens do chat-->
<ul class="list list--material">
    <li class="list-item list-item--material">
        <div class="list-item__left list-item--material__left">
            <img class="list-item__thumbnail list-item--material__thumbnail" src="https://i.pinimg.com/236x/31/58/1f/31581f7c33eae99124f9aeba8c9aa2fc.jpg" alt="Cute kitten">
        </div>
        
        <div class="list-item__center list-item--material__center">
            <div class="list-item__title list-item--material__title">Grupo de Sei la</div>
            <div class="list-item__subtitle list-item--material__subtitle">Victor: To gr rsrsrs</div>
        </div>
    </li>
    
    <li class="list-item list-item--material">
        <div class="list-item__left list-item--material__left">
            <img class="list-item__thumbnail list-item--material__thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4dr2Kzs61Fvb2YybBjtvDs4HKpyG1krLYAGeP7npwzZJBDCFw&s" alt="Cute kitten">
        </div>
        
        <div class="list-item__center list-item--material__center">
            <div class="list-item__title list-item--material__title">Grupo de Grupo</div>
            <div class="list-item__subtitle list-item--material__subtitle">Mario: cida kkkjj</div>
        </div>
    </li>
    
    <li class="list-item list-item--material">
        <div class="list-item__left list-item--material__left">
            <img class="list-item__thumbnail list-item--material__thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAAG4Z444jQmawv6HGnhEfjr9WTTl-mYGIeh5zzFQKuqJBZ6vnqQ&s" alt="Cute kitten">
        </div>
        
        <div class="list-item__center list-item--material__center">
            <div class="list-item__title list-item--material__title">Grupo-chan:</div>
            <div class="list-item__subtitle list-item--material__subtitle">Kaio: to em pé, fi</div>
        </div>
    </li>
    
    
    <li class="list-item list-item--material">
        <div class="list-item__left list-item--material__left">
            <img class="list-item__thumbnail list-item--material__thumbnail" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05b184de-5227-4610-b95f-b5eb91a5df23/d9mz5ef-02345d1c-3280-4ddd-8d5f-a1439651b18e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA1YjE4NGRlLTUyMjctNDYxMC1iOTVmLWI1ZWI5MWE1ZGYyM1wvZDltejVlZi0wMjM0NWQxYy0zMjgwLTRkZGQtOGQ1Zi1hMTQzOTY1MWIxOGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UnwjB4E9kKaEhQh9LteE_oZNZxid27Y0nGffjNggFs0" alt="Cute kitten">
        </div>
        
        <div class="list-item__center list-item--material__center">
            <div class="list-item__title list-item--material__title">Grupo Baka-Babaka</div>
            <div class="list-item__subtitle list-item--material__subtitle">Cida: um tal de mario me ligou '-'</div>
        </div>
    </li>

